{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["standard", "standard-jsx"],
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-quotes": "off",
    "indent": "off"
  }
}