@import '../../style/variable.less';
@import './mixin.less';

.@{button__prefix}-group {
  position: relative;
  display: inline-block;
  .@{button__prefix} + .@{button__prefix} {
    margin-left: -1px;
  }
  .@{button__prefix} {
    margin: 0;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;      
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:focus,
    &:hover,
    &.active {
      z-index: 2;
    }
  }
}


.@{button__prefix} {
  position: relative;
  margin: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  -webkit-appearance: button;
  box-sizing: border-box;
  overflow: visible;
  cursor: pointer;
  white-space: nowrap;
  font-weight: @btn-font-weight;
  line-height: @line-height-base;
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
  &__icon + span {
    margin-left: 8px;
  }
}

// button size
.@{button__prefix}--mini {
  .button--size(
    @padding: 1px 5px,
    @fontSize: 12px,
    @borderRaidus: @btn-border-radius-small
  );
}

.@{button__prefix}--small {
  .button--size(
    @padding: 5px 10px,
    @fontSize: 12px,
    @borderRaidus: @btn-border-radius-small
  );
}

.@{button__prefix}--medium {
  .button--size(
    @padding: 6px 12px,
    @fontSize: 14px,
    @borderRaidus: @btn-border-radius-base
  );
}

.@{button__prefix}--large {
  .button--size(
    @padding: 8px 16px,
    @fontSize: 18px,
    @borderRaidus: @btn-border-radius-large
  );
}

.@{button__prefix}--block {
  display: block;
  width: 100%;
  .button--size(
    @padding: 10px 16px,
    @fontSize: 18px,
    @borderRaidus: @btn-border-radius-large
  );
}

// button type
.@{button__prefix}--default {
  border-color: @border;
  .button--type(
    @bgColor: @white,
    @color: @font-color-base,
    @lightColor: transparent,
    @darkColor: transparent,
    @selectedColor: @division
  );
  &:hover {
    color: @brand-light;
    border-color: @brand-light;
  }
  &:active {
    color: @white;
    background-color: @brand-dark;
  }
}

.@{button__prefix}--primary {
  .button--type(
    @bgColor: @brand-primary,
    @color: @white,
    @lightColor: @brand-light,
    @darkColor: @brand-dark,
    @selectedColor: @brand-selected
  );
}

.@{button__prefix}--danger {
  .button--type(
    @bgColor: @danger,
    @color: @white,
    @lightColor: @danger-light,
    @darkColor: @danger-dark,
    @selectedColor: @danger-selected
  );
}

.@{button__prefix}--success {
  .button--type(
    @bgColor: @success,
    @color: @white,
    @lightColor: @success-light,
    @darkColor: @success-dark,
    @selectedColor: @success-selected
  );
}

.@{button__prefix}--warning {
  .button--type(
    @bgColor: @warning,
    @color: @white,
    @lightColor: @warning-light,
    @darkColor: @warning-dark,
    @selectedColor: @warning-selected
  );
}

.@{button__prefix}--link {
  .button--type(
    @bgColor: transparent,
    @color: @brand-primary,
    @lightColor: transparent,
    @darkColor: transparent,
    @selectedColor: @brand-selected
  );
  &:hover {
    color: @brand-light;
    text-decoration: underline;
  }
  &:active {
    color: @brand-dark;
    text-decoration: underline;
  }
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus,
  &[disabled] {
    cursor: not-allowed;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;
    color: @font-color-disable;
    border-color: transparent;
  }
}

.@{button__prefix}--ghost {
  border-color: @brand-primary;
  .button--type(
    @bgColor: transparent,
    @color: @brand-primary,
    @lightColor: transparent,
    @darkColor: transparent,
    @selectedColor: @brand-selected
  );
  &:hover {
    color: @brand-light;
    border-color: @brand-light;
  }
  &:active {
    color: @brand-dark;
    border-color: @brand-dark;
  }
}

// Shape
.@{button__prefix}--circle {
  line-height: 1;
  border-radius: 50%;
  padding: 10px;
}