@import '../../style/variable.less';

.button--size(@padding, @fontSize, @borderRaidus) {
  padding: @padding;
  font-size: @fontSize;
  border-radius: @borderRaidus;
  .@{button__prefix}__icon {
    width: @fontSize;
    height: @fontSize;
  }
}

.button--type(@bgColor, @color, @lightColor, @darkColor, @selectedColor) {
  background-color: @bgColor;
  color: @color;
  &--loading {
    pointer-events: none;
    background-color: @lightColor;
  }
  &:focus {
    background-color: @lightColor;
    box-shadow: 0 0 0 2px @selectedColor;
  }
  &:hover {
    background-color: @lightColor;
  }
  &:active {
    background-color: @darkColor;
    box-shadow: 0 0 0 2px @selectedColor;
  }
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:focus,
  &[disabled] {
    cursor: not-allowed;
    text-decoration: none;
    box-shadow: none;
    background-color: @disable;
    color: @font-color-disable;
    border-color: @border;
  }
}

.button--disabled() {
  background-color: #f7f7f7;
  border-color: #d9d9d9;
  color: #BFBFBF;
  box-shadow: none;  
}
